@import "reset.scss";
@import "fonts.scss";

// * {
// 	outline: 1px lime solid !important;
// }



// @mixin font($fs, $fos, $wdth, $grad, $fw, $lh) {
// 	font-family: RobotoFlex, sans-serif;
// 	font-size: $fs;
// 	font-variation-settings: 'wght'$fw, 'GRAD'$grad, 'wdth'$wdth, 'opsz'$fos;
// 	line-height: $lh;
// }

// %text-data {
// 	@include font(300px, 300, 140, 150, 700, 120%)
// }

:root {
	--clip-position-x: center;
	--clip-position-y: center;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
	text-decoration: none !important;
	color: #fff;
}

$clr-black: #0b0b0b;
$clr-orange: #F9651C;
$clr-gray: #808080;
$nm-bl: NeueMachina-Black;
$nm-b: NeueMachina-Bold;
$nm-m: NeueMachina-Medium;
$nm-l: NeueMachina-Light;
$nm-r: NeueMachina-Regular;
$nm-ub: NeueMachina-Ultrabold;

%def-t {
	font-family: $nm-l;
	font-size: 20px;

	@media (max-width:1400px) {
		font-size: 18px;
	}

	@media (max-width:991px) {
		font-size: 16px;
	}

	@media (max-width:767px) {
		font-size: 13px;
	}
}

html,
body {
	scroll-behavior: smooth;
}

img {
	pointer-events: none !important;
}

body.webp {
	background-image: url(../img/bg.webp) !important;

	@media (max-width:600px) {
		background-image: none !important;
	}
}

body.no-webp {
	background-image: url(../img/bg.png) !important;

	@media (max-width:600px) {
		background-image: none !important;
	}
}

body {
	overflow-y: overlay;
	background-color: $clr-black;
	background-repeat: no-repeat;
	max-width: 100%;
	background-blend-mode: hard-light;
	position: relative;
	width: 100%;
	height: 100%;
	color: #fff;
	border: none !important;
	border-style: none !important;
	background-attachment: fixed;
	background-size: cover;
	/* width */
	&::-webkit-scrollbar {
		width: 10px;
	}
	// &.safari-build {
	// 	background-image: none !important;
	// 	background-color: #070707;
	// }
	/* Track */
	&::-webkit-scrollbar-track {
		background: transparent;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: $clr-orange;
	}

	&.lock {
		overflow: hidden !important;
	}
}


@import "header.scss";
@import "footer.scss";

.sec-title {
	font-family: $nm-r;
	text-transform: uppercase;
	font-size: 60px;
	pointer-events: none;
	user-select: none;
	margin-bottom: 40px;

	span {
		font-family: $nm-b;
	}

	@media (max-width:1400px) {
		font-size: 40px;
	}

	@media (max-width:991px) {
		font-size: 35px;
		margin-bottom: 25px;
	}

	@media (max-width:767px) {
		font-size: 30px;
		margin-bottom: 20px;
	}

	@media (max-width:575px) {
		font-size: 25px;
		margin-bottom: 18px;
	}
}

.to-form {
	display: inline-flex;
	align-items: center;
	color: #fff !important;
	padding: 0;

	div:first-child {
		margin-right: 10px;
		border-radius: 50%;
		height: 65px;
		width: 65px;
		background-color: $clr-orange;
		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width:1400px) {
			transform: scale(.8);
		}
	}

	@extend %def-t;
}

.deykun-sec-1 {
	height: 100vh;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	@media (max-width:1199px) {
		height: 700px;
	}

	#clipped-image {
		object-fit: cover;
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		-webkit-mask-size: 500px 500px;
		-webkit-mask-position-x: var(--clip-position-x);
		-webkit-mask-position-y: var(--clip-position-y);
		-webkit-mask-image: radial-gradient(ellipse 50% 50% at 50% 50%, rgba(248, 248, 248, .35) 0%, rgba(248, 248, 248, 0) 100%);
		-webkit-mask-repeat: no-repeat;
		mask-size: 500px 500px;
		mask-position-x: var(--clip-position-x);
		mask-position-y: var(--clip-position-y);
		mask-image: radial-gradient(ellipse 50% 50% at 50% 50%, rgba(248, 248, 248, .35) 0%, rgba(248, 248, 248, 0) 100%);
		mask-repeat: no-repeat;

		@media (max-width:1199px) {
			-webkit-mask-size: 700px 700px;
			-webkit-mask-position-x: -350px;
			-webkit-mask-position-y: -350px;
			-webkit-mask-image: radial-gradient(ellipse 50% 50% at 50% 50%, rgba(248, 248, 248, .35) 0%, rgba(248, 248, 248, 0) 100%);
			-webkit-mask-repeat: no-repeat;
			mask-size: 700px 700px;
			mask-position-x: -350px;
			mask-position-y: -350px;
			mask-image: radial-gradient(ellipse 50% 50% at 50% 50%, rgba(248, 248, 248, .35) 0%, rgba(248, 248, 248, 0) 100%);
			mask-repeat: no-repeat;
		}
	}

	#clipped-image2 {
		object-fit: cover;
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		display: none;

		@media (max-width:1199px) {
			display: block;
			-webkit-mask-size: 700px 700px;
			-webkit-mask-position-x: calc(100% + 350px);
			-webkit-mask-position-y: calc(100% + 350px);
			-webkit-mask-image: radial-gradient(ellipse 50% 50% at 50% 50%, rgba(248, 248, 248, .35) 0%, rgba(248, 248, 248, 0) 100%);
			-webkit-mask-repeat: no-repeat;
			mask-size: 700px 700px;
			mask-position-x: calc(100% + 350px);
			mask-position-y: calc(100% + 350px);
			mask-image: radial-gradient(ellipse 50% 50% at 50% 50%, rgba(248, 248, 248, .35) 0%, rgba(248, 248, 248, 0) 100%);
			mask-repeat: no-repeat;
		}
	}

	.cent-block {
		z-index: 2;

		.title {
			position: relative;
			width: 15em;
			margin-bottom: 40px;

			@media (max-width:575px) {
				width: 100%;
			}

			img {
				position: absolute;
				transform: translate(-50%, -50%);
				top: 75%;
				left: 2.5em;
				z-index: -1;

				@media (max-width:1400px) {
					max-width: 90%;
				}
			}
		}

		.bl-bottom {
			&>div {
				@extend %def-t;
				width: 35em;

				@media (max-width:575px) {
					width: calc(100% - 20px);
				}
			}

			display: flex;
			flex-direction: column;
			align-items: flex-end;

			.text {
				color: $clr-gray;
				margin-bottom: 20px;
			}
		}
	}
}
.sec-2-cont {
	overflow-x: hidden;
	padding: 200px 0;
	margin: -200px 0;
}
.deykun-sec-2 {
	width: 100%;
	margin-top: -100px;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 80px;
	padding-bottom: 80px;
	height: 100%;
	@media (max-width:767px) {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	@media (min-width: 576px) {
		padding-left: calc((100% - 540px) / 4);
		padding-right: calc((100% - 540px) / 4);
	}

	@media (min-width: 768px) {
		padding-left: calc((100% - 720px) / 4);
		padding-right: calc((100% - 720px) / 4);
	}

	@media (min-width: 992px) {
		padding-left: calc((100% - 960px) / 4);
		padding-right: calc((100% - 960px) / 4);
	}

	@media (min-width: 1200px) {
		padding-left: calc((100% - 1140px) / 4);
		padding-right: calc((100% - 1140px) / 4);
	}

	@media (min-width: 1400px) {
		padding-left: calc((100% - 1320px) / 4);
		padding-right: calc((100% - 1320px) / 4);
	}

	width: 100%;
	position: relative;

	.left-angle {
		transform: translate(-50%, -50%);
		position: absolute;
		top: 20px;
		left: 50px;

		@media (max-width:1400px) {
			width: 250px;
		}

		@media (max-width:767px) {
			width: 150px;
		}
	}

	.right-angle {
		transform: translate(50%, 50%);
		position: absolute;
		bottom: 20px;
		right: 50px;

		@media (max-width:1400px) {
			width: 250px;
		}

		@media (max-width:767px) {
			width: 150px;
		}
	}

	.cont {
		background-image: url(../img/sec-7-bg.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		position: relative;
		border-radius: 110px;
		padding: 150px 0;

		@media (max-width:1400px) {
			padding: 120px 0;
		}

		@media (max-width:767px) {
			padding: 50px 10px;
			border-radius: 70px;
		}

		.sc-cont {
			display: flex;
			flex-wrap: wrap;
			width: 75%;

			@media (max-width:1199px) {
				width: 100%;
			}

			.point {
				position: relative;
				margin-right: 20px;
				margin-bottom: 20px;
				@extend %def-t;
				font-family: $nm-r;
				opacity: 0;
				transition: all .7s ease-in-out;
				padding: 20px 30px;
				background-image: url(../img/sec-2-2.png);
				background-position: center;
				background-repeat: no-repeat;
				background-size: 100% 100%;
				display: inline-block;

				@media (max-width:767px) {
					margin-right: 10px;
					margin-bottom: 10px;
				}

				&.animate {
					opacity: 1;
				}

				white-space: nowrap;

				@media (max-width:575px) {
					white-space: normal;
				}
			}
		}
	}

	&.sec-7 {
		margin-top: 150px;
		margin-bottom: 70px;

		@media (max-width:1400px) {
			margin-top: 100px;
		}

		@media (max-width:767px) {
			margin-top: 50px;
		}

		.cont {
			background-image: url(../img/sec-7-bg.png);

			.sc-cont {
				width: 100%;
				@extend %def-t;
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;

				.p-cont {
					width: calc((100% - 40px) / 3);
					margin-bottom: 40px;

					@media (max-width:1199px) {
						width: calc(((100% - 20px) / 2));
					}

					@media (max-width:575px) {
						width: 100%;
						display: flex;
						flex-direction: column;
						align-items: center;
						text-align: center;
					}
				}
			}
		}
	}
}

.deykun-sec-3 {
	width: 100%;
	position: relative;

	.marquee {
		height: 10em;
		user-select: none;
		width: 100%;
		padding: 40px 0;
		overflow-x: hidden;
		display: flex;
		align-items: center;
		@media (max-width:1400px) {
			padding: 30px 0;
		}

		&>div {
			display: flex;
			animation: marquee-text 15s linear infinite;
			width: 4797px;

			@media (max-width:1400px) {
				width: 3237px;
			}

			@media (max-width:991px) {
				width: 3048px;
			}

			&>div {
				width: 1599px;

				@media (max-width:1400px) {
					width: 1079px
				}

				@media (max-width:991px) {
					width: 1016px
				}

				text-transform: uppercase;
				display: flex;
				align-items: center;
				white-space: nowrap;

				&>div {
					margin-right: 20px;
				}

				&>div:first-child {
					font-size: 60px;
					font-family: $nm-r;
					color: #fff;

					span {
						font-family: $nm-b;
					}

					@media (max-width:1400px) {
						font-size: 40px;
					}

					@media (max-width:991px) {
						font-size: 35px;
					}
				}

				&>div:last-child {
					font-size: 60px;
					font-family: $nm-bl;
					-webkit-text-stroke: .5px rgba($color: #fff, $alpha: 0.4);
					color: transparent;

					@media (max-width:1400px) {
						font-size: 40px;
					}
				}
			}
		}
	}

	&.sec-5-6 {
		.marquee {
			&>div {
				width: 3600px;

				@media (max-width:1400px) {
					width: 2454px;
				}

				@media (max-width:991px) {
					width: 2313px;
				}

				&>div {
					width: 1200px;

					@media (max-width:1400px) {
						width: 818px
					}

					@media (max-width:991px) {
						width: 771px;
					}
				}

			}
		}
	}

	&.sec-15-16 {
		z-index: 5;

		.marquee {
			&>div {
				width: 4350px;

				@media (max-width:1400px) {
					width: 2940px;
				}

				@media (max-width:991px) {
					width: 2772px;
				}

				&>div {
					width: 1450px;

					@media (max-width:1400px) {
						width: 980px;
					}

					@media (max-width:991px) {
						width: 924px;
					}
				}
			}
		}
	}

	&.sec-11-12 {
		z-index: 5;

		.marquee {
			&>div {
				width: 3654px;

				@media (max-width:1400px) {
					width: 2475px;
				}

				@media (max-width:991px) {
					width: 2334px;
				}

				&>div {
					width: 1218px;

					@media (max-width:1400px) {
						width: 825px;
					}

					@media (max-width:991px) {
						width: 778px;
					}
				}

			}

			padding: 20px 0;
		}

		.text {
			font-family: $nm-r;
			width: 100%;
			text-align: center;
			color: #fff;
			font-size: 20px;
			margin-bottom: 40px;

			@media (max-width:991px) {
				font-size: 18px;
				margin-bottom: 35px;
			}

			@media (max-width:575px) {
				font-size: 14px;
				margin-bottom: 20px;
			}
		}
	}

	&.sec-7-8 {
		padding: 150px 0;
		position: relative;
		z-index: 5;

		@media (max-width:1400px) {
			padding: 100px 0;
		}

		@media (max-width:767px) {
			padding: 50px 0;
		}

		img {
			position: absolute;
			transform: translate(-50%, -50%);
			left: 50%;
			top: 50%;
			max-width: 90%;
			z-index: 2;

			@media (max-width:575px) {
				max-width: 100%;
			}
		}

		.marquee {
			position: relative;
			z-index: 3;

			&>div {
				width: 5460px;

				@media (max-width:1400px) {
					width: 3681px;
				}

				@media (max-width:991px) {
					width: 3468px;
				}

				&>div {
					width: 1820px;

					@media (max-width:1400px) {
						width: 1227px;
					}

					@media (max-width:991px) {
						width: 1156px;
					}
				}
			}
		}
	}
}

@keyframes marquee-text {
	0% {
		transform: translateX(0%);
	}

	100% {
		transform: translateX(-33.33333333333333%);
	}
}


.deykun-sec-4 {
	width: 100%;
	height: calc(100vh + 1000px);

	@media (max-width:1400px) {
		height: calc(100vh + 1100px);
		padding-bottom: 100px;
	}

	@media (max-width:1199px) {
		height: auto;
	}

	@media (max-width:767px) {
		padding-bottom: 50px;
	}

	.anim-cont {
		height: 100vh;
		position: sticky;
		width: 100%;
		top: 0;
		left: 0;

		@media (max-width:1199px) {
			height: auto;
			position: relative;
		}
	}

	.text-block {
		padding-top: 86px;
		color: $clr-gray;

		span {
			color: #fff;
		}

		@extend %def-t;
		display: flex;
		justify-content: flex-end;

		@media (max-width:1199px) {
			padding-top: 0;
		}

		&>div {
			width: 36em;

			@media (max-width:991px) {
				width: 90%;
			}
		}

		margin-bottom: 50px;

		@media (max-width:1400px) {
			margin-bottom: 0px;
		}

		@media (max-width:991px) {
			margin-bottom: 50px;
		}

		@media (max-width:767px) {
			margin-bottom: 30px;
		}
	}

	.main-cont {
		display: flex;
		align-items: center;
		position: relative;
		width: 100%;

		@media (max-width:575px) {
			justify-content: center;
		}

		.scrollbar-vert {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			width: 2px;
			background-color: $clr-gray;

			.circ {
				height: 10px;
				width: 10px;
				background-color: $clr-orange;
				border-radius: 50%;
				position: absolute;
				transform: translate(-50%, -50%);
				left: 50%;
				top: 0;
			}

			@media (max-width:1199px) {
				display: none;
			}
		}

		img {
			margin-left: 10px;
			object-fit: contain;
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);

			@media (max-width:1400px) {
				width: 45%;
			}

			@media (max-width:1199px) {
				display: none;
			}
		}

		.points-cont {
			display: flex;
			flex-direction: column;
			margin-left: 50px;
			z-index: 3;
			width: 50%;

			@media (max-width:1199px) {
				width: 70%;
				margin-left: 0;
			}

			@media (max-width:767px) {
				width: 100%;
			}

			@media (max-width:575px) {
				width: calc(100% - 30px);
			}

			.point {
				display: flex;
				flex-direction: column;
				opacity: 0;
				transition: all .1s;

				@media (max-width:1199px) {
					opacity: 1 !important;
				}

				.title {
					padding-left: 20px;
					font-family: $nm-m;
					font-size: 36px;
					margin-bottom: 20px;
					position: relative;

					@media (max-width:1400px) {
						font-size: 28px;
						margin-bottom: 12px;
					}

					@media (max-width:767px) {
						font-size: 25px;
						margin-bottom: 10px;
					}

					&::before {
						content: '';
						height: 10px;
						width: 10px;
						background-color: $clr-orange;
						border-radius: 50%;
						position: absolute;
						transform: translate(-50%, -50%);
						left: 0;
						top: 50%;
					}
				}

				.text {
					padding-left: 20px;
					color: $clr-gray;
					@extend %def-t;
				}

				&:not(:last-child) {
					margin-bottom: 40px;

					@media (max-width:1400px) {
						margin-bottom: 15px;
					}

					@media (max-width:767px) {
						margin-bottom: 10px;
					}
				}
			}
		}
	}
}

.deykun-sec-5 {
	position: relative;

	.cont {
		display: flex;
		justify-content: space-between;

		@media (max-width:991px) {
			flex-direction: column;
		}

		.block {
			width: calc((100% - 120px) / 3);

			@media (max-width:1400px) {
				width: calc((100% - 90px) / 3);
			}

			@media (max-width:991px) {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: flex-start;
				height: 450px;
			}

			@media (max-width:767px) {
				height: 350px;

				&:not(:first-child) {
					margin-top: -50px;
				}

				&:last-child {
					margin-bottom: -50px;
				}
			}

			height: 550px;
			@extend %def-t;
			position: relative;

			&:not(:last-child) {
				margin-right: 60px;

				@media (max-width:1400px) {
					margin-right: 45px;
				}
			}

			img {
				position: absolute;
				top: 50%;
				left: 50%;

				@media (max-width:767px) {
					width: 70%;
				}

				&.img-1 {
					transform: translate(-70%, -45%);
				}

				&.img-2 {
					transform: translate(-55%, -75%);
				}

				&.img-3 {
					transform: translate(-60%, -45%);

					@media (max-width:991px) {
						transform: translate(-55%, -45%);
					}
				}
			}

			.point {
				display: inline-flex;
				align-items: center;
				position: relative;
				z-index: 2;

				&::before {
					content: 'X';
					color: $clr-orange;
					margin-right: 10px;
				}
			}
		}
	}
}

.deykun-sec-6 {
	position: relative;

	img {
		position: absolute;
		top: 0;

		&.fst-arrow {
			left: -30px;

			@media (max-width:991px) {
				max-width: 15%;
			}

			@media (max-width:400px) {
				display: none;
			}
		}

		&.snd-arrow {
			left: 300px;

			@media (max-width:991px) {
				left: 15%
			}

			@media (max-width:575px) {
				left: 10%
			}

			@media (max-width:400px) {
				display: none;
			}
		}

		&.trd-arrow {
			left: 630px;

			@media (max-width:1775px) {
				display: none;
			}
		}
	}

	.container {
		display: flex;
		justify-content: flex-end;
		@extend %def-t;
		position: relative;
		z-index: 13;

		&>div {
			width: 30em;

			@media (max-width:991px) {
				width: 75%;
			}

			@media (max-width:400px) {
				width: 100%;
			}
		}

		.text {
			margin-bottom: 40px;

			@media (max-width:991px) {
				margin-bottom: 20px;
			}
		}
	}
}

.deykun-sec-8 {
	position: relative;
	z-index: 5;
	padding: 0 0 150px 0;
	@extend %def-t;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

	@media (max-width:1400px) {
		padding: 0 0 100px 0;
	}

	@media (max-width:767px) {
		padding: 0 0 50px 0;
	}

	@media (max-width:575px) {
		justify-content: center;
	}

	.point {
		width: calc(50% - 10px);
		display: flex;
		align-items: center;

		&:first-child {
			margin-bottom: 20px;
		}

		&:nth-child(2) {
			margin-bottom: 20px;
		}

		&::before {
			content: url("data:image/svg+xml,%3Csvg width='14' height='15' viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.62 15L5.48 8.26V7.62L0.62 0.899999H2.84L7.06 6.84L11.3 0.899999L13.52 0.899999L8.66 7.62V8.26L13.52 15H11.3L7.06 9.04L2.84 15H0.62Z' fill='%23F9651C'/%3E%3C/svg%3E%0A");
			margin-right: 10px;
		}

		@media (max-width:991px) {
			width: 100%;

			&:nth-child(3) {
				margin-bottom: 20px;
			}
		}

		@media (max-width:575px) {
			width: calc(100% - 70px);
		}

		@media (max-width:450px) {
			width: calc(100% - 30px);
		}
	}
}

.deykun-sec-9 {
	padding-bottom: 150px;
	@extend %def-t;

	@media (max-width:1400px) {
		padding-bottom: 100px;
	}

	@media (max-width:767px) {
		padding-bottom: 50px;
	}

	.cont {
		display: flex;
		justify-content: space-between;

		@media (max-width:991px) {
			flex-direction: column;
		}

		@media (max-width:575px) {
			align-items: center;
		}
	}

	.points-cont {
		background-image: url(../img/sec-9-1.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		width: calc(50% - 10px);
		padding: 75px 55px;

		@media (max-width:991px) {
			width: 100%;
			background-size: cover;
			padding: 50px 30px;

			&:first-child {
				margin-bottom: 20px;
			}
		}

		@media (max-width:575px) {
			width: calc(100% - 70px);
		}

		@media (max-width:450px) {
			width: calc(100% - 30px);
		}
	}

	.point {
		display: flex;
		align-items: center;

		&:first-child {
			margin-bottom: 20px;
		}

		&:nth-child(2) {
			margin-bottom: 20px;
		}

		&::before {
			content: url("data:image/svg+xml,%3Csvg width='14' height='15' viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.62 15L5.48 8.26V7.62L0.62 0.899999H2.84L7.06 6.84L11.3 0.899999L13.52 0.899999L8.66 7.62V8.26L13.52 15H11.3L7.06 9.04L2.84 15H0.62Z' fill='%23F9651C'/%3E%3C/svg%3E%0A");
			margin-right: 10px;
		}
	}
}

.deykun-sec-10 {
	margin-bottom: 150px;
	position: relative;

	@media (max-width:1400px) {
		margin-bottom: 100px;
	}

	@media (max-width:767px) {
		margin-bottom: 50px;
	}

	// .rate-text-abs {
	// 	font-size: 160px;
	// 	font-family: $nm-ub;
	// 	-webkit-text-stroke: .5px rgba($color: #fff, $alpha: 0.4);
	// 	color: transparent;
	// 	position: absolute;
	// 	transform: rotate(270deg);
	// 	top: 2.5em;
	// 	left: calc(-2em + 20px);
	// }

	.lm-cont {
		width: 100%;
		display: flex;
		justify-content: center;

		.load-more {
			@extend %def-t;
			color: $clr-orange;
			display: inline-block;
			cursor: pointer;
			text-decoration: underline;
			text-underline-offset: 3px;
		}
	}

	.rate-cont {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 30px;

		@media (max-width:480px) {
			justify-content: center;
		}

		.rate {
			position: relative;
			display: none;
			border-radius: 20px;

			.to-form-rate {
				position: absolute;
				bottom: 10px;
				right: 10px;
				border-radius: 50%;
				height: 65px;
				width: 65px;
				background-color: $clr-orange;
				display: flex;
				align-items: center;
				justify-content: center;
				opacity: 0;
				transition: all .3s ease-in-out;

				@media (max-width:1400px) {
					transform: scale(.8);
				}
			}

			&:hover,
			&:focus {
				.to-form-rate {
					opacity: 1;
				}
			}

			cursor: pointer;
			height: auto;
			width: calc((100% - 40px) / 3);

			&:not(:nth-child(3n)) {
				margin-right: 20px;
			}

			@media (max-width:991px) {
				width: calc((100% - 20px) / 2);

				&:not(:nth-child(3n)) {
					margin-right: 0;
				}

				&:not(:nth-child(2n)) {
					margin-right: 20px;
				}
			}

			@media (max-width:480px) {
				width: 280px;

				&:not(:nth-child(3n)) {
					margin-right: 0;
				}

				&:not(:nth-child(2n)) {
					margin-right: 0;
				}
			}

			margin-bottom: 20px;
			background-image: url(../img/card-bg.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			padding: 30px;

			.title {
				font-family: $nm-r;
				color: #fff;
				font-size: 36px;
				margin-bottom: 10px;

				@media (max-width:1400px) {
					font-size: 30px;
				}

				@media (max-width:767px) {
					font-size: 20px;
				}
			}

			.desc {
				font-family: $nm-l;
				color: $clr-gray;
				font-size: 18px;
				margin-bottom: 20px;

				@media (max-width:1400px) {
					font-size: 16px;
				}

				@media (max-width:767px) {
					font-size: 13px;
					margin-bottom: 15px;
				}
			}

			.point-cont {
				display: flex;
				flex-direction: column;
				margin-bottom: 20px;

				@media (max-width:767px) {
					margin-bottom: 15px;
				}

				.point {
					font-family: $nm-l;
					font-size: 18px;
					margin-bottom: 10px;

					@media (max-width:1400px) {
						font-size: 16px;
					}

					@media (max-width:767px) {
						font-size: 13px;
						margin-bottom: 7px;
					}
				}
			}

			.price-cont {
				display: flex;
				flex-direction: column;
				font-family: $nm-l;
				font-size: 18px;
				margin-bottom: 10px;
				text-transform: lowercase;

				@media (max-width:1400px) {
					font-size: 16px;
				}

				@media (max-width:767px) {
					font-size: 13px;
				}

				.our {
					margin-bottom: 10px;
					display: flex;

					&::before {
						margin-right: 10px;
						content: url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.576183 14L5.09272 7.73633V7.14156L0.576183 0.896472H2.63929L6.56106 6.41668L10.5014 0.896472L12.5645 0.896472L8.04798 7.14156V7.73633L12.5645 14H10.5014L6.56106 8.4612L2.63929 14H0.576183Z' fill='%23F9651C'/%3E%3C/svg%3E%0A");
					}
				}

				.them {
					margin-bottom: 10px;
					display: flex;

					&::before {
						margin-right: 10px;
						content: url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.576183 13.2734L5.09272 7.00977V6.415L0.576183 0.16991H2.63929L6.56106 5.69012L10.5014 0.16991L12.5645 0.16991L8.04798 6.415V7.00977L12.5645 13.2734H10.5014L6.56106 7.73464L2.63929 13.2734H0.576183Z' fill='%23ADADAD'/%3E%3C/svg%3E%0A");
					}
				}
			}
		}
	}
}

.deykun-sec-11 {
	margin-bottom: 150px;

	@media (max-width:1400px) {
		margin-bottom: 100px;
	}

	@media (max-width:767px) {
		margin-bottom: 50px;
	}

	.sec-title {
		margin-bottom: 20px;
	}

	.cont {
		font-size: 60px;

		@media (max-width:1400px) {
			font-size: 40px;
		}

		@media (max-width:991px) {
			font-size: 35px;
			padding-left: 0;
		}

		padding-left: 1em;

		.sec-title {
			@media (max-width:991px) {
				padding-left: 1em;
			}

			font-family: $nm-b;

			span {
				color: $clr-orange;
			}
		}

		.sub-cont {
			@extend %def-t;
			display: flex;
			justify-content: space-between;
			align-items: center;

			@media (max-width:991px) {
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
			}

			.text {
				width: 35em;

				@media (max-width:991px) {
					margin-bottom: 20px;
				}

				@media (max-width:575px) {
					width: calc(100% - 20px);
				}
			}

			.btn-cont {
				@media (max-width:991px) {
					width: 100%;
					display: flex;
					justify-content: flex-end;
				}
			}
		}
	}
}

.deykun-sec-12 {
	margin-top: 50px;
	margin-bottom: 150px;
	display: flex;
	flex-direction: column;
	height: 100vh;

	@media (max-width:1400px) {
		margin-bottom: 100px;
	}

	@media (max-width:1199px) {
		height: 700px;
	}

	@media (max-width:991px) {}

	@media (max-width:767px) {
		margin-bottom: 50px;
		height: 500px;
	}

	@media (max-width:575px) {
		height: auto;
		overflow-x: hidden;
	}

	.sites-cont {
		height: calc(100vh - 112px - 64px);
		padding: 50px 100px;
		position: relative;

		@media (max-width:1199px) {
			height: calc(100vh - 88px - 64px);
		}

		@media (max-width:1199px) {
			height: calc(700px - 88px - 64px);
		}

		@media (max-width:991px) {
			height: calc(600px - 88px - 57px);
		}

		@media (max-width:767px) {
			height: calc(500px - 88px - 57px);
		}

		@media (max-width:575px) {
			height: calc(1300px - 88px - 37px);
			padding: 15px 100px;
		}

		.site-cont {
			width: calc((100% - 140px) / 3);
			overflow: hidden;
			position: absolute;
			cursor: pointer;
			height: 100%;
			img {
				transition: opacity .4s ease-in-out;
				opacity: 0;
				position: absolute;
				top: 0;
				left: 0;
			}

			@media (max-width:575px) {
				height: 400px;
				width: 300px;
			}

			&:nth-child(1) {
				top: 0;
				left: 50px;

				@media (max-width:575px) {
					transform: translateX(-50%) rotate(-4deg);
					left: 50%;
					top: 20px;
				}
			}

			&:nth-child(3) {
				top: 0;
				right: 50px;

				@media (max-width:575px) {
					transform: translateX(-50%) rotate(-6deg);
					left: 50%;
					top: 60%;
				}
			}

			&:nth-child(2) {
				top: 0;
				left: 50%;
				transform: translateX(-50%);

				@media (max-width:575px) {
					transform: translateX(-50%) rotate(5deg);
					top: 30%;
				}
			}

			&:nth-child(4) {
				top: 40%;
				left: 33%;
				width: 300px;
				height: 415px;
				transform: translate(-50%, -50%) rotate(-6deg);

				@media (max-width:1400px) {
					width: 250px;
					height: 346px;
				}

				@media (max-width:1199px) {
					width: 200px;
					height: 277px;
				}

				@media (max-width:767px) {
					width: 145px;
					height: 200px;
				}

				@media (max-width:575px) {
					top: 30%;
					left: 40%;
				}
			}

			&:nth-child(5) {
				top: 60%;
				left: 66%;
				width: 300px;
				height: 415px;
				transform: translate(-50%, -50%) rotate(16deg);

				@media (max-width:1400px) {
					width: 250px;
					height: 346px;
				}

				@media (max-width:1199px) {
					width: 200px;
					height: 277px;
				}

				@media (max-width:767px) {
					width: 145px;
					height: 200px;
				}

				@media (max-width:575px) {
					top: 65%;
					left: 50%;
					width: 180px;
					height: 257px;
				}
			}

			&.active {
				width: calc(100% - 100px);
				height: 100%;
				overflow: overlay;
				z-index: 50;

				@media (max-width:575px) {
					width: calc(100% - 30px);
				}

				/* width */
				&::-webkit-scrollbar {
					width: 10px;

					@media (max-width:575px) {
						width: 5px;
					}
				}

				/* Track */
				&::-webkit-scrollbar-track {
					background: transparent;
				}

				/* Handle */
				&::-webkit-scrollbar-thumb {
					background: $clr-orange;
				}

				&:nth-child(1) {
					top: 0 !important;
					left: 50px !important;
					transform: translate(0, 0) rotate(0deg);

					@media (max-width:575px) {
						left: 15px !important;
					}
				}

				&:nth-child(3) {
					top: 0 !important;
					right: 50px !important;
					left: auto !important;
					transform: translate(0, 0) rotate(0deg);

					@media (max-width:575px) {
						right: 15px !important;
					}
				}

				&:nth-child(2) {
					top: 0 !important;
					left: 50% !important;
					transform: translateX(-50%);
				}

				&:nth-child(4) {
					top: 0 !important;
					left: 50px !important;
					transform: translate(0, 0) rotate(0deg);

					@media (max-width:575px) {
						left: 15px !important;
					}
				}

				&:nth-child(5) {
					top: 0 !important;
					left: 50px !important;
					transform: translate(0, 0) rotate(0deg);

					@media (max-width:575px) {
						left: 15px !important;
					}
				}
			}

			img {
				object-fit: contain;
				width: 100%;
			}
		}

		.site-cont-full {
			width: calc(100% - 100px);
			height: 100%;
			overflow: overlay;
			z-index: 50;

			/* width */
			&::-webkit-scrollbar {
				width: 10px;

				@media (max-width:575px) {
					width: 5px;
				}
			}

			/* Track */
			&::-webkit-scrollbar-track {
				background: transparent;
			}

			/* Handle */
			&::-webkit-scrollbar-thumb {
				background: $clr-orange;
			}

			

			position: fixed;
			top: 0;
			left: 50px;
			cursor: pointer;
			@media (max-width:575px) {
				width: calc(100% - 30px);
				top: 0;
				left: 15px;
			}
			img {
				object-fit: contain;
				width: 100%;
			}
		}
	}
}

.deykun-sec-13 {
	margin-bottom: 150px;

	@media (max-width:1400px) {
		margin-bottom: 100px;
	}

	@media (max-width:767px) {
		margin-bottom: 50px;
	}

	.acc-cont {
		width: 100%;
		display: flex;
		flex-direction: column;

		.acc {
			&:not(:last-child) {
				margin-bottom: 20px;

				@media (max-width:575px) {
					margin-bottom: 10px;
				}
			}

			.acc-btn {
				cursor: pointer;
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 20px;

				@media (max-width:575px) {
					margin-bottom: 10px;
				}

				.sec-title {
					margin-bottom: 0;
					text-transform: uppercase;
					font-size: 55px;
					width: calc(100% - 75px);

					@media (max-width:1400px) {
						font-size: 40px
					}

					@media (max-width:991px) {
						font-size: 30px;
					}

					@media (max-width:767px) {
						font-size: 25px;
					}

					@media (max-width:575px) {
						font-size: 20px;
					}
				}

				.acc-arrow {
					border-radius: 50%;
					height: 65px;
					width: 65px;
					background-color: $clr-orange;
					display: flex;
					align-items: center;
					justify-content: center;
					transition: all .3s ease-in-out;

					@media (max-width:1400px) {
						transform: scale(.8);
					}

					&.active {
						transform: rotate(-90deg);

						@media (max-width:1400px) {
							transform: rotate(-90deg) scale(.8);
						}
					}
				}
			}

			.acc-content {
				display: none;
				margin-bottom: 20px;
				@extend %def-t;
				width: 100%;

				.desc {
					margin-bottom: 20px;
				}

				.point {
					display: flex;
					align-items: center;
					margin-bottom: 5px;

					&::before {
						content: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='3' cy='3' r='3' fill='white'/%3E%3C/svg%3E%0A");
						margin-right: 10px;
					}
				}
			}
		}
	}
}
.sec-14-cont {
	overflow-x: hidden;
	padding: 300px 0 700px 0;
	margin: -300px 0 -700px 0;
}
.deykun-sec-14 {
	height: calc(100vh + 50px);
	padding-bottom: 50px;
	width: 100%;
	position: relative;
	@media (max-width:1400px) {
		padding-bottom: 100px;
		height: calc(100vh + 100px);
	}

	@media (max-width:1199px) {
		height: 800px;
	}

	@media (max-width:767px) {
		margin-bottom: 50px;
	}

	.abss {
		position: absolute;

		&.fst {
			top: 38%;
			right: 0;
			z-index: 1;
		}

		&.snd {
			top: 7%;
			left: 48%;
			z-index: 1;
		}

		&.trd {
			top: 30%;
			left: 0;
		}

		&.fth {
			top: 50%;
			left: 30%;
			transform: translate(-50%, -50%);

			@media (max-width:575px) {
				max-width: 900px;
				left: 50%;
			}
		}

		&.f5th {
			top: 45%;
			right: 0;
			width: calc(100% + 60px);
			height: 1100px;
			z-index: 4;

			@media (max-width:1400px) {
				height: 800px;
			}

			@media (max-width:991px) {
				top: 35%;
			}
		}

		&.sth {
			top: 0;
			left: 0;
			width: 100%;
			max-height: 90%;
		}
	}

	.swiper {
		position: relative;
		z-index: 4;
		width: 100%;
		height: 100%;

		img {
			position: absolute;
			transform: translateX(-50%);
			top: 0;
			left: 30%;
			z-index: 3;
			object-fit: contain;
			height: 100%;

			@media (max-width:991px) {
				height: 80%;
				top: 10%;
			}

			@media (max-width:575px) {
				left: 50%;
			}
		}

		.slide-block {
			position: absolute;
			transform: translate(0, -50%);
			top: 50%;
			left: 50%;
			z-index: 3;
			@extend %def-t;
			width: 31em;
			z-index: 55;

			@media (max-width:1150px) {
				left: 35%;
			}

			@media (max-width:575px) {
				transform: translate(-50%, 0);
				left: 50%;
				width: calc(100% - 100px);
				top: auto;
				bottom: 0;
			}

			.title {
				display: inline-block;
				font-family: $nm-bl;
				font-size: 38px;

				@media (max-width:1400px) {
					font-size: 30px;
				}

				@media (max-width:767px) {
					font-size: 20px;
				}

				background-image: url(../img/scotch-bg.png);
				padding: 10px 20px;
				background-position: center;
				background-repeat: no-repeat;
				background-size: 100% 100%;
				text-transform: uppercase;
				margin-bottom: 15px;
			}

			.text {
				font-family: $nm-r;
				margin-bottom: 15px;
			}

			.link {
				display: inline-block;
				color: $clr-gray;
				text-decoration: underline !important;
				text-underline-offset: 3px;
			}
		}
	}

}

.deykun-sec-15 {
	margin-bottom: 150px;
	padding-bottom: 30px;
	position: relative;
	z-index: 5;

	@media (max-width:1400px) {
		margin-bottom: 100px;
	}

	@media (max-width:767px) {
		margin-bottom: 50px;
	}

	.container {
		@extend %def-t;
		display: flex;
		justify-content: space-between;
		position: relative;

		@media (max-width:991px) {
			flex-direction: column;
			align-items: flex-end;
			justify-content: flex-start;
		}
	}

	.title-cont {
		display: flex;
		align-items: center;
		margin-top: -40px;

		@media (max-width:991px) {
			width: 100%;
			justify-content: flex-start;
			margin-bottom: 20px;
		}

		.qu {
			font-family: $nm-l;
			color: $clr-orange;
			font-size: 165px;
			line-height: 1em;

			@media (max-width:1400px) {
				font-size: 130px;
			}

			@media (max-width:991px) {
				font-size: 100px;
			}
		}

		.sec-title {
			margin-bottom: 0;
		}
	}

	.sub-cont {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		width: 39em;

		@media (max-width:575px) {
			width: 100%;
			margin-bottom: 5px;
		}
	}

	img {
		position: absolute;
		z-index: -1;
		bottom: 0;
		left: 0;

		@media (max-width:991px) {
			top: 0;
			height: 30%;
			width: 100%;
			object-fit: cover;
		}
	}
}

.deykun-sec-16 {
	z-index: 5;
	position: relative;
	margin-bottom: 150px;
	@extend %def-t;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media (max-width:575px) {
		flex-direction: column;
		align-items: flex-end;
	}

	@media (max-width:1400px) {
		margin-bottom: 100px;
	}

	@media (max-width:767px) {
		margin-bottom: 50px;
	}

	.text {
		width: 25em;

		@media (max-width:575px) {
			width: 100%;
			margin-bottom: 5px;

		}
	}
}