@import "reset.scss";
@import "fonts.scss";

// * {
// 	outline: 1px lime solid !important;
// }



// @mixin font($fs, $fos, $wdth, $grad, $fw, $lh) {
// 	font-family: RobotoFlex, sans-serif;
// 	font-size: $fs;
// 	font-variation-settings: 'wght'$fw, 'GRAD'$grad, 'wdth'$wdth, 'opsz'$fos;
// 	line-height: $lh;
// }

// %text-data {
// 	@include font(300px, 300, 140, 150, 700, 120%)
// }

:root {
	--clip-position-x: center;
	--clip-position-y: center;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
	text-decoration: none !important;
	color: #fff;
}

$c-black: #1A1A1A;
$c-gray: #777;
$c-border: #343434;
$c-blue: #3360FF;
$c-green: #B1FF33;
$c-pink: #E233FF;
$f-b: MabryPro-Bold;
$f-m: MabryPro-Medium;
$f-l: MabryPro-Light;
$f-r: MabryPro-Regular;
$h-s: 160px;

body {
	background-color: $c-black;
	color: #fff;
	font-family: $f-r;
	font-size: 24px;

	img {
		pointer-events: none !important;
	}

	height: 100%;
	position: relative;

	-ms-overflow-style: none;
	scrollbar-width: none;


	&::-webkit-scrollbar {
		display: none;
	}
}

a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
	color: #fff;
}

button,
button:hover,
button:active,
button:focus {
	color: #fff;
	border: none;
	outline: none;

}

section {
	overflow: hidden;
}

.main-title {
	font-size: 80px;
}

.cursor {
	overflow: hidden;
	width: 500px;
	height: 230px;
	opacity: 0;
	position: fixed;
	transform: translate(-50%, -50%);
	pointer-events: none;
	transition: width opacity .3s ease-in-out;
	display: grid;
	place-items: center;

	&.hover {
		opacity: 1;

		.sim1 {
			opacity: 1;
			transition: opacity 0s ease-in-out;
			transition-delay: .5s;
		}

		.sim2 {
			opacity: 0;
			transition: opacity 0s ease-in-out;
			transition-delay: .5s;
		}
	}

	.sim1 {
		opacity: 0;
		position: absolute;
		animation: marquee;
		animation-duration: 4s;
		animation-delay: 0s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;

		div {
			font-family: $f-b;
			font-size: 75px;
			line-height: 1em;
			color: $c-black;
		}
	}

	.sim2 {
		opacity: 1;
		position: absolute;
		animation: speedupmarquee;
		animation-duration: .25s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;

		div {
			font-family: $f-b;
			font-size: 75px;
			line-height: 1em;
			color: $c-black;
		}
	}

	&.cursor1 {
		path {
			fill: $c-blue
		}
	}

	&.cursor2 {
		path {
			fill: $c-green
		}
	}

	&.cursor3 {
		path {
			fill: $c-pink
		}
	}
}

.anchor-down {
	z-index: 100;
	position: absolute;
	bottom: 100px;
	left: 100px;
	cursor: pointer;
	display: grid;
	place-items: center;
	width: 90px;
	height: 90px;
	background-color: transparent;
	border-radius: 50%;
	transition: all .3s ease-in-out;
	border: 1px solid $c-border;

	svg {
		path {
			fill: #fff;
		}
	}
}

#s1 {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
	display: block;

	.anchor-down {
		transform: translateX(-50%);
		left: 50%;
		width: 90px;
		height: 90px;
		background-color: #fff;
		border-radius: 50%;
		border: 1px solid transparent;

		svg {
			path {
				fill: $c-black;
			}
		}

		&.cursor1 {
			background-color: $c-blue;

			svg {
				path {
					fill: #fff;
				}
			}
		}

		&.cursor2 {
			background-color: $c-green;

			svg {
				path {
					fill: $c-black;
				}
			}
		}

		&.cursor3 {
			background-color: $c-pink;

			svg {
				path {
					fill: $c-black;
				}
			}
		}
	}

	.s1-cont {
		position: absolute;
		top: calc(50% - 180px);
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		flex-direction: column;
		align-items: center;

		.main-text {
			text-transform: uppercase;
			font-size: 100px;
			line-height: 1.1em;
			text-align: center;
			margin-bottom: 35px;

			div {
				display: inline-block;
				cursor: none;
			}
		}

		.sub-text {
			color: $c-gray;
			margin-bottom: 100px;
		}


	}

	.s1-bg {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='190' height='230' viewBox='0 0 190 230' preserveAspectRatio='xMidYMid meet'%3E%3Cpath d='M 20 0 L 190 0 Q 170 115 190 230 L 20 230 Q 0 115 20 0' fill='%231d1d1d' /%3E%3C/svg%3E");
		background-size: 100% 100%;
		pointer-events: none;
		overflow: hidden;
		width: auto;
		height: 150%;
		aspect-ratio: 19 / 23;
		opacity: 0;
		position: absolute;
		pointer-events: none;
		transition: opacity .3s ease-in-out;
		display: grid;
		place-items: center;

		path {
			fill: #1d1d1d
		}

		&.hover {
			opacity: 1;

			.sim1 {
				opacity: 1;
				transition: opacity 0s ease-in-out;
				transition-delay: .5s;
			}

			.sim2 {
				opacity: 0;
				transition: opacity 0s ease-in-out;
				transition-delay: .5s;
			}
		}

		.sim1 {
			opacity: 0;
			position: absolute;
			animation: marquee;
			animation-duration: 4s;
			animation-delay: 0s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;

			div {
				font-family: $f-b;
				font-size: 450px;
				line-height: 1em;
				color: $c-black;
			}
		}

		.sim2 {
			opacity: 1;
			position: absolute;
			animation: speedupmarquee;
			animation-duration: .25s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;

			div {
				font-family: $f-b;
				font-size: 450px;
				line-height: 1em;
				color: $c-black;
			}
		}

		&.s1-bg-left {
			left: 0;
			transform: translate(-66%, -20%) rotate(10deg);
		}

		&.s1-bg-right {
			right: 0;
			transform: translate(66%, -20%) rotate(10deg);
		}
	}
}

@keyframes speedupmarquee {
	0% {
		transform: rotate(5deg) translateY(0)
	}

	100% {
		transform: rotate(5deg) translateY(-25%)
	}
}

@keyframes marquee {
	0% {
		transform: rotate(5deg) translateY(0)
	}

	100% {
		transform: rotate(5deg) translateY(-25%)
	}
}


#s2 {
	width: 100%;
	height: 100vh;
	position: relative;
	padding: 0 100px;

	.s2-overflow {
		width: 100%;
		height: calc(100% + 400px);
		overflow: hidden;
		position: relative;
		-ms-overflow-style: none;
		scrollbar-width: none;


		&::-webkit-scrollbar {
			display: none;
		}
	}
	.s2-sticky{
		position: sticky;
		top: 0;
		left: 0;
	}
	.main-title {
		padding-top: calc($h-s + 50px);
	}

	.acc-cont {
		margin-top: 50px;
	}

	/* Style the buttons that are used to open and close the accordion panel */
	.acc {
		padding: 0;
		margin-bottom: 20px;
	}

	/* Style the accordion panel. Note: hidden by default */
	.panel {
		width: 26em;
		margin-bottom: 20px;
		color: $c-gray;
		font-family: $f-l;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s ease-out;
	}
}

@import "header.scss";
@import "footer.scss";

.fp-watermark {
	display: none !important;
}

.fp-overflow {
	width: 100%;
	height: 100%;
	-ms-overflow-style: none;
		scrollbar-width: none;


		&::-webkit-scrollbar {
			display: none;
		}
}


#s3 {
	width: 100%;
	height: 100vh;
	.fp-overflow {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 10px;
	}
}

#s4 {
	width: 100%;
	height: 100vh;
	.fp-overflow {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 10px;
	}
}