@import "reset.scss";
@import "fonts.scss";

// * {
// 	outline: 1px lime solid !important;
// }



// @mixin font($fs, $fos, $wdth, $grad, $fw, $lh) {
// 	font-family: RobotoFlex, sans-serif;
// 	font-size: $fs;
// 	font-variation-settings: 'wght'$fw, 'GRAD'$grad, 'wdth'$wdth, 'opsz'$fos;
// 	line-height: $lh;
// }

// %text-data {
// 	@include font(300px, 300, 140, 150, 700, 120%)
// }

:root {
	--header-h: 0;
}

$c-white: #e9e9e9;

a,
a:hover,
a:active,
a:visited,
a:focus {
	text-decoration: none !important;
	color: $c-white;
}

$c-black: #1A1A1A;
$c-gray: #777;
$c-border: #343434;
$c-blue: rgb(51, 96, 255);
$c-green: rgb(177, 255, 51);
$c-pink: #E233FF;
$f-b: MabryPro-Bold;
$f-m: MabryPro-Medium;
$f-l: MabryPro-Light;
$f-i: MabryPro-Italic;
$f-r: MabryPro-Regular;
$h-s: 110px;
$media-xxl: 1650px;
$media-xl: 1400px;
$media-l: 1025px;
$media-m: 850px;
$media-s: 550px;

body {
	background-color: $c-black;
	color: $c-white;
	font-family: $f-r;
	font-size: 24px;

	@media (max-width: $media-xxl) {
		font-size: 20px;
	}

	@media (max-width: $media-xl) {
		font-size: 18px;
	}

	img {
		pointer-events: none !important;
	}

	height: 100%;
	position: relative;

	-ms-overflow-style: none;
	scrollbar-width: none;


	&::-webkit-scrollbar {
		display: none;
	}
}

a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
	color: $c-white;
}

button,
button:hover,
button:active,
button:focus {
	color: $c-white;
	border: none;
	outline: none;

}

section {
	overflow: hidden;
}

.main-title {
	font-size: 80px;
	line-height: 1.1em;
	text-transform: uppercase;

	@media (max-width: $media-xxl) {
		font-size: 60px;
	}

	@media (max-width: $media-xxl) {
		font-size: 50px;
	}
}

.cursor {
	overflow: hidden;
	width: 500px;
	height: 230px;
	opacity: 0;
	position: fixed;
	transform: translate(-50%, -50%);
	pointer-events: none;
	transition: width opacity .3s ease-in-out;
	display: grid;
	place-items: center;

	&.hover {
		opacity: 1;

		.sim1 {
			opacity: 1;
			transition: opacity 0s ease-in-out;
			transition-delay: .5s;
		}

		.sim2 {
			opacity: 0;
			transition: opacity 0s ease-in-out;
			transition-delay: .5s;
		}
	}

	.sim1 {
		opacity: 0;
		position: absolute;
		animation: marquee;
		animation-duration: 4s;
		animation-delay: 0s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;

		div {
			font-family: $f-b;
			font-size: 75px;
			line-height: 1em;
			color: $c-black;
		}
	}

	.sim2 {
		opacity: 1;
		position: absolute;
		animation: speedupmarquee;
		animation-duration: .25s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;

		div {
			font-family: $f-b;
			font-size: 75px;
			line-height: 1em;
			color: $c-black;
		}
	}

	&.cursor1 {
		path {
			fill: $c-blue
		}
	}

	&.cursor2 {
		path {
			fill: $c-green
		}
	}

	&.cursor3 {
		path {
			fill: $c-pink
		}
	}
}

.cursor-last-page {
	z-index: 1000;
	opacity: 0;
	position: fixed;
	transform: translate(-50%, -50%);
	pointer-events: none;
	transition: opacity .3s ease-in-out;
	display: flex;
	align-items: center;
	gap: 20px;
	font-size: 30px;
	font-family: $f-r;
	white-space: nowrap;

	@media (max-width: $media-xxl) {
		font-size: 24px;
	}

	.svg-circle {
		display: grid;
		place-items: center;
		width: 90px;
		aspect-ratio: 1;
		background-color: #fff;
		border-radius: 50%;

		@media (max-width: $media-xl) {
			width: 80px;
		}
	}

	&.hover {
		opacity: 1;
	}
}

.anchor-down,
.anchor-up {
	z-index: 100;
	position: absolute;
	bottom: 50px;
	left: 100px;
	cursor: pointer;
	display: grid;
	place-items: center;
	width: 90px;
	aspect-ratio: 1;
	background-color: transparent;
	border-radius: 50%;
	transition: all .3s ease-in-out;
	border: 1px solid $c-border;

	@media (max-width: $media-xl) {
		width: 75px;
	}

	svg {
		path {
			fill: $c-white;
		}
		@media (max-width: $media-xl) {
			transform: scale(.8);
		}
	}
}

.anchor-top {
	cursor: pointer;
}

@import "header.scss";
@import "footer.scss";

.fp-watermark {
	display: none !important;
}

.fp-overflow {
	width: 100%;
	height: 100%;
	padding: 0 100px;
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}


#s1 {
	width: 100%;
	height: 100vh;
	height: 100dvh;
	position: relative;
	overflow: hidden;
	display: block;

	.anchor-down {
		transform: translateX(-50%);
		left: 50%;
		width: 90px;
		aspect-ratio: 1;
		background-color: $c-white;
		border-radius: 50%;
		border: 1px solid transparent;

		@media (max-width: $media-xl) {
			width: 75px;
		}

		svg {
			path {
				fill: $c-black;
			}
		}

		&.cursor1 {
			background-color: $c-blue;

			svg {
				path {
					fill: $c-white;
				}
			}
		}

		&.cursor2 {
			background-color: $c-green;

			svg {
				path {
					fill: $c-black;
				}
			}
		}

		&.cursor3 {
			background-color: $c-pink;

			svg {
				path {
					fill: $c-black;
				}
			}
		}
	}

	.s1-cont {
		position: absolute;
		top: calc(50% - 165px);
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		flex-direction: column;
		align-items: center;

		@media (max-width: $media-xxl) {
			top: calc(50% - 149px);
		}

		@media (max-width: $media-xxl) {
			top: calc(50% - 132px);
		}

		.main-text {
			text-transform: uppercase;
			font-size: 100px;
			line-height: 1.1em;
			text-align: center;
			margin-bottom: 30px;

			@media (max-width: $media-xxl) {
				font-size: 90px;
			}

			@media (max-width: $media-xl) {
				font-size: 70px;
			}

			div {
				display: inline-block;
				cursor: none;
			}
		}

		.sub-text {
			color: $c-gray;
		}


	}

	.s1-bg {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='190' height='230' viewBox='0 0 190 230' preserveAspectRatio='xMidYMid meet'%3E%3Cpath d='M 20 0 L 190 0 Q 170 115 190 230 L 20 230 Q 0 115 20 0' fill='%231d1d1d' /%3E%3C/svg%3E");
		background-size: 100% 100%;
		pointer-events: none;
		overflow: hidden;
		width: auto;
		height: 150%;
		aspect-ratio: 19 / 23;
		opacity: 0;
		position: absolute;
		pointer-events: none;
		transition: opacity .3s ease-in-out;
		display: grid;
		place-items: center;

		path {
			fill: #1d1d1d
		}

		&.hover {
			opacity: 1;

			.sim1 {
				opacity: 1;
				transition: opacity 0s ease-in-out;
				transition-delay: .5s;
			}

			.sim2 {
				opacity: 0;
				transition: opacity 0s ease-in-out;
				transition-delay: .5s;
			}
		}

		.sim1 {
			opacity: 0;
			position: absolute;
			animation: marquee;
			animation-duration: 4s;
			animation-delay: 0s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;

			div {
				font-family: $f-b;
				font-size: 450px;
				line-height: 1em;
				color: $c-black;
			}
		}

		.sim2 {
			opacity: 1;
			position: absolute;
			animation: speedupmarquee;
			animation-duration: .25s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;

			div {
				font-family: $f-b;
				font-size: 450px;
				line-height: 1em;
				color: $c-black;
			}
		}

		&.s1-bg-left {
			left: 0;
			transform: translate(-66%, -20%) rotate(10deg);
		}

		&.s1-bg-right {
			right: 0;
			transform: translate(66%, -20%) rotate(10deg);
		}
	}
}

@keyframes speedupmarquee {
	0% {
		transform: rotate(5deg) translateY(0)
	}

	100% {
		transform: rotate(5deg) translateY(-25%)
	}
}

@keyframes marquee {
	0% {
		transform: rotate(5deg) translateY(0)
	}

	100% {
		transform: rotate(5deg) translateY(-25%)
	}
}


#s2 {
	width: 100%;
	height: 100vh;
	position: relative;

	.s2-overflow {
		width: 100%;
		height: 100%;
		overflow: visible;
		position: relative;
		-ms-overflow-style: none;
		scrollbar-width: none;


		&::-webkit-scrollbar {
			display: none;
		}
	}

	.s2-sticky {
		position: sticky;
		top: 0;
		left: 0;
		z-index: 100
	}

	.main-title {
		padding-top: calc($h-s + 50px);
	}

	.acc-cont {
		margin-top: 50px;
	}

	.acc-img {
		pointer-events: none;
		position: absolute;
		bottom: 0;
		right: 0;
		opacity: 0;
		transition: opacity .3s ease-in-out;
		transition-delay: 0s;

		&.active {
			opacity: 1;
			transition: opacity .3s ease-in-out;
			transition-delay: .3s;
		}

		svg.bl {
			&.active {
				transition: all .3s ease-in-out;
				filter: drop-shadow(0px 0px 60px rgba(51, 96, 255, 0.3));

				g rect {
					transition: all .3s ease-in-out;
					fill: $c-blue
				}
			}
		}

		svg.gr {
			&.active {
				transition: all .3s ease-in-out;
				filter: drop-shadow(0px 0px 60px rgba(177, 255, 51, 0.3));

				g rect {
					transition: all .3s ease-in-out;
					fill: $c-green
				}
			}
		}

		svg.ye {
			&.active {
				transition: all .3s ease-in-out;
				filter: drop-shadow(0px 0px 60px rgba(236, 194, 16, 0.3));

				path {
					transition: all .3s ease-in-out;
					fill: #ECC210
				}
			}
		}

		svg.purp {
			&.active {
				transition: all .3s ease-in-out;
				filter: drop-shadow(0px 0px 60px rgba(226, 51, 255, 0.3));

				path {
					transition: all .3s ease-in-out;
					fill: $c-pink
				}
			}
		}

		&.acc-fst-img {
			@media (max-width: $media-xxl) {
				svg {
					transform: scale(.9);
					bottom: -100px;
				}
			}

			@media (max-width: $media-xxl) {
				svg {
					transform: scale(.7);
					bottom: -130px;
				}
			}

			svg {
				position: absolute;
				bottom: 0;

				&:nth-child(1) {
					right: 500px;
					z-index: 5;

					@media (max-width: $media-xxl) {
						right: 480px;
					}

					@media (max-width: $media-xl) {
						right: 380px;
						bottom: -150px;
					}
				}

				&:nth-child(2) {
					right: 600px;
					z-index: 6;

					@media (max-width: $media-xxl) {
						right: 580px;
					}

					@media (max-width: $media-xl) {
						right: 500px;
					}
				}

				&:nth-child(3) {
					right: 200px;
					z-index: 7;
					opacity: 1;

					@media (max-width: $media-xxl) {
						right: 180px;
					}

					@media (max-width: $media-xl) {
						right: 110px;
					}
				}

				&:nth-child(4) {
					right: 350px;
					z-index: 8;

					@media (max-width: $media-xxl) {
						right: 330px;
					}

					@media (max-width: $media-xl) {
						right: 240px;
					}
				}

				&:nth-child(5) {
					right: 0px;
					z-index: 9;

					@media (max-width: $media-xxl) {
						right: -20px;
					}

					@media (max-width: $media-xl) {
						right: -40px;
					}
				}

				&:nth-child(6) {
					right: 580px;
					bottom: 100px;
					z-index: -1;

					@media (max-width: $media-xxl) {
						bottom: 0px;
						right: 560px;
					}

					@media (max-width: $media-xl) {
						bottom: -30px;
						right: 540px;
					}
				}

				&:nth-child(7) {
					right: 400px;
					bottom: 120px;
					z-index: -1;

					@media (max-width: $media-xxl) {
						bottom: -10px;
						right: 380px;
					}

					@media (max-width: $media-xl) {
						bottom: 0px;
						right: 350px;
					}
				}

				&:nth-child(8) {
					right: 0px;
					z-index: 4;

					@media (max-width: $media-xxl) {
						right: -20px;
					}

					@media (max-width: $media-xl) {
						right: -80px;
						bottom: -140px
					}
				}

				&:nth-child(9) {
					right: 0px;
					z-index: 3;

					@media (max-width: $media-xxl) {
						right: -20px;
					}

					@media (max-width: $media-xl) {
						right: -40px;
					}
				}

				&:nth-child(10) {
					right: 150px;
					z-index: 7;

					@media (max-width: $media-xxl) {
						right: 130px;
					}

					@media (max-width: $media-xl) {
						right: 80px;
					}
				}
			}
		}

		&.acc-snd-img {
			@media (max-width: $media-xl) {
				svg {
					transform: scale(.7);
					bottom: -140px;
				}
			}

			svg {
				position: absolute;
				bottom: 0;

				&:nth-child(1) {
					right: 320px;
					z-index: 1;

					@media (max-width: $media-xl) {
						right: 220px;
					}
				}

				&:nth-child(2) {
					right: 0;
					z-index: 2;

					@media (max-width: $media-xl) {
						right: -100px;
					}
				}

				&:nth-child(3) {
					right: 0;
					z-index: 1;

					@media (max-width: $media-xl) {
						right: -100px;
					}
				}
			}
		}

		&.acc-trd-img {
			@media (max-width: $media-xl) {
				svg {
					transform: scale(.7);
					bottom: -100px;
					right: -100px;
				}
			}

			svg {
				position: absolute;
				bottom: 0;

				&:nth-child(1) {
					right: 250px;
					bottom: 380px;
					z-index: 2;

					@media (max-width: $media-xl) {
						bottom: 280px;
					}
				}

				&:nth-child(2) {
					z-index: 1;
				}
			}
		}

		&.acc-fth-img {
			@media (max-width: $media-xl) {
				svg {
					transform: scale(.7);
					bottom: -120px;
					right: -100px;
				}
			}

			svg {
				position: absolute;
				bottom: 0;

				&:nth-child(1) {
					z-index: 1;
				}

				&:nth-child(2) {
					right: 230px;
					z-index: 2;

					@media (max-width: $media-xl) {
						right: 130px;
					}
				}
			}
		}
	}

	/* Style the buttons that are used to open and close the accordion panel */
	.acc {
		padding: 0;
		margin-bottom: 20px;
	}

	/* Style the accordion panel. Note: hidden by default */
	.panel {
		width: 26em;
		margin-bottom: 20px;
		color: $c-gray;
		font-family: $f-l;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s ease-out;
	}
}

.choose-sec {
	overflow: hidden;
	border-top: 1px solid $c-border;
	width: 100%;
	height: 100vh;
	position: relative;

	.fp-overflow {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 10px;
		padding: 0;
	}

	.choose-cont {
		display: flex;
		height: 100%;
		width: 100%;

		.choose-left {
			width: calc(50% - 1px);
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 20px;
			padding-left: 100px;
			text-transform: uppercase;

			.choose-title {
				font-family: $f-r;
				font-size: 80px;

				@media (max-width: $media-xxl) {
					font-size: 60px;
				}
				@media (max-width: $media-xl) {
					font-size: 50px;
				}
			}

			svg {
				@media (max-width: $media-xl) {
					aspect-ratio: 42/31;
					width: 35px;
				}
			}
		}

		.choose-right {
			display: flex;
			width: 50%;

			.choose-var {
				position: relative;

				svg {
					pointer-events: none;
					position: absolute;
					top: 0;
					left: 50%;
					transform: translateX(-50%);
					width: 100%;
					height: 100%;

					path {
						fill: transparent;
						transition: fill .3s ease-in-out;
					}
				}

				width: calc((100% / 3) - 1px);
				border-left: $c-border 1px solid;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				cursor: pointer;

				.title {
					position: relative;
					text-transform: uppercase;

					&::after {
						position: absolute;
						content: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-4.37114e-07 10L1.45 8.6L5 12.15L5 -3.0598e-07L7 -2.18557e-07L7 12.15L10.55 8.6L12 10L6 16L-4.37114e-07 10Z' fill='%23E9E9E9'/%3E%3C/svg%3E%0A");
						top: calc(100% + 10px);
						left: 50%;
						transform: translateX(-50%);
						opacity: 0;
						transition: opacity .3s ease-in-out;
					}

				}

				&:hover {
					transition: border-left .3s ease-in-out;

					svg {
						filter: drop-shadow(0px 0px 50px rgba(51, 96, 255, 0.2));
					}

					path {
						fill: $c-blue;
					}

					.title {
						&::after {
							opacity: 1;
						}

					}

				}

				&:nth-child(1):hover {
					border-left: 1px solid transparent;
				}

				&:nth-child(2):hover {
					border-left: 1px solid transparent;
				}

				&:nth-child(3):hover {
					border-left: 1px solid transparent;
				}

				&:nth-child(1):hover+.choose-var:nth-child(2) {
					border-left: 1px solid transparent;
				}

				&:nth-child(2):hover+.choose-var:nth-child(3) {
					border-left: 1px solid transparent;
				}
			}
		}
	}
}

#s4 {
	border-bottom: 1px solid $c-border;

	.choose-cont {
		.choose-right {
			.choose-var {
				width: calc((100% / 2) - 1px);

				&:hover {
					svg {
						filter: drop-shadow(0px 0px 50px rgba(177, 255, 51, 0.2));
					}

					path {
						fill: $c-green
					}

					.title {
						color: $c-black;

						&::after {
							content: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-4.37114e-07 10L1.45 8.6L5 12.15L5 -3.0598e-07L7 -2.18557e-07L7 12.15L10.55 8.6L12 10L6 16L-4.37114e-07 10Z' fill='%231A1A1A'/%3E%3C/svg%3E%0A");
						}
					}
				}
			}
		}
	}
}

#s5 {
	overflow: hidden;
	padding-top: calc($h-s + 30px);
	position: relative;

	.main-title {
		text-transform: uppercase;
		padding-top: 0;
		opacity: 1;
		transition: opacity .5s ease-out, padding-top .7s ease-out;
		transition-delay: .7s, 2s;

		&.rate-anim-disabled {
			opacity: 0;
			padding-top: calc(50vh - 1em - ($h-s + 30px));
		}
	}

	.sub-text {
		font-family: $f-r;
		font-size: 24px;

		@media (max-width: $media-xxl) {
			font-size: 22px;
		}

		@media (max-width: $media-xl) {
			font-size: 20px;
		}

		margin-top: 10px;
		color: $c-gray;
		opacity: 1;
		transition: opacity .5s ease-out;
		transition-delay: 3.5s;

		&.rate-anim-disabled {
			opacity: 0;
		}
	}

	.need-help {
		margin-top: 30px;
		user-select: none;
		outline: none;
		font-family: $f-i;
		font-size: 24px;

		@media (max-width: $media-xxl) {
			font-size: 22px;
		}

		@media (max-width: $media-xl) {
			font-size: 20px;
		}

		text-decoration: underline;
		cursor: pointer;
		opacity: 1;
		transition: opacity .5s ease-out;
		transition-delay: 3.5s;

		&.rate-anim-disabled {
			opacity: 0;
		}
	}

	.rate-cont {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin-top: 30px;
		gap: 40px;
		opacity: 1;
		transition: opacity .5s ease-out;
		transition-delay: 3.5s;

		&.rate-anim-disabled {
			opacity: 0;
		}

		.rate {
			cursor: pointer;
			display: none;
			width: calc((100% - 80px) / 3);
			

			.rate-cat-text {
				margin-top: 5px;
				font-family: $f-r;
				font-size: 20px;
				color: $c-gray;

				@media (max-width: $media-xxl) {
					font-size: 18px;
				}
			}

			.title {
				margin-top: 5px;
				font-size: 30px;
				font-family: $f-r;
				text-transform: uppercase;
				display: inline-block;

				@media (max-width: $media-xxl) {
					font-size: 24px;
				}
			}

			.img-cont {
				width: 100%;
				aspect-ratio: 546/277;
				border-radius: 20px;
				overflow: hidden;

				img {
					object-fit: cover;
				}
			}

			&:hover {
				.title {
					text-decoration: underline;
				}
			}
		}
	}
}

#s6 {
	overflow: hidden;
	padding-top: calc($h-s + 30px);
	position: relative;
	padding-bottom: 20px;

	.anchor-down {
		opacity: 1;
		transition: opacity .5s ease-out;
		transition-delay: 4.5s;

		&.rate-anim-disabled {
			opacity: 0;
		}

	}

	.main-title {
		text-transform: uppercase;
		padding-top: 0;
		opacity: 1;
		transition: opacity .5s ease-out, padding-top .7s ease-out;
		transition-delay: .7s, 2s;

		&.rate-anim-disabled {
			opacity: 0;
			padding-top: calc(50vh - 1em - ($h-s + 30px));
		}
	}

	.point-cont {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin-top: 30px;
		gap: 40px;
		opacity: 1;
		transition: opacity .5s ease-out;
		transition-delay: 3.5s;
		align-items: flex-start;

		&.rate-anim-disabled {
			opacity: 0;
		}

		.rate-point {
			display: none;
			width: calc((100% - 80px) / 3);
			border-radius: 20px;
			border: $c-border 1px solid;
			padding: 40px;
			flex-direction: column;
			gap: 20px;
			overflow-y: auto;
			@media (max-width: $media-xl) {
				padding: 30px;
				gap: 15px;
			}
			.point-text {
				font-family: $f-r;
				font-size: 24px;

				@media (max-width: $media-xxl) {
					font-size: 22px;
				}

				@media (max-width: $media-xl) {
					font-size: 18px;
				}
			}

			.point-title {
				font-size: 30px;
				font-family: $f-l;
				color: $c-gray;

				@media (max-width: $media-xxl) {
					font-size: 24px;
				}
				@media (max-width: $media-xl) {
					font-size: 20px;
				}
				&::before {
					content: '\2014';
					margin-right: 10px;
				}
			}
		}
	}
}

#s7 {
	overflow: hidden;
	padding-top: calc($h-s + 30px);
	position: relative;

	.anchor-down {
		opacity: 1;
		transition: opacity .5s ease-out;
		transition-delay: 4.5s;

		&.rate-anim-disabled {
			opacity: 0;
		}
	}

	.main-title {
		text-transform: uppercase;
		padding-top: 0;
		opacity: 1;
		transition: opacity .5s ease-out, padding-top .7s ease-out;
		transition-delay: .7s, 2s;

		&.rate-anim-disabled {
			opacity: 0;
			padding-top: calc(50vh - 1em - ($h-s + 30px));
		}
	}

	.team-slider {
		opacity: 1;
		transition: opacity .5s ease-out;
		transition-delay: 3.5s;

		&.rate-anim-disabled {
			opacity: 0;
		}

		margin-top: 30px;
		width: 100%;

		.swiper-slide {
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			.tm8-name {
				margin-top: 5px;
				color: $c-gray;
				text-transform: lowercase;
				font-size: $f-r;
				font-size: 20px;

				@media (max-width: $media-xxl) {
					font-size: 18px;
				}

				@media (max-width: $media-xl) {
					font-size: 16px;
				}
			}

			.tm8-post {
				margin-top: 5px;
				color: $c-white;
				text-transform: uppercase;
				font-size: $f-r;
				font-size: 24px;

				@media (max-width: $media-xxl) {
					font-size: 22px;
				}

				@media (max-width: $media-xl) {
					font-size: 18px;
				}
			}

			img {
				max-width: 100%;
				max-height: calc(100vh - ((80px * 2.2) + ($h-s + 30px) + (50px + 90px) + 50px + (10px + (20px * 1.2) + (24px * 2.4))));

				@media (max-width: $media-xxl) {
					max-height: calc(100vh - ((60px * 2.2) + ($h-s + 30px) + (50px + 90px) + 50px + (10px + (18px * 1.2) + (22px * 2.4))));
				}

				@media (max-width: $media-xl) {
					max-height: calc(100vh - ((50px * 2.2) + ($h-s + 30px) + (50px + 90px) + 50px + (10px + (16px * 1.2) + (18px * 2.4))));
				}
			}
		}
	}
}

#s8 {
	overflow: hidden;
	padding-top: calc($h-s + 30px);
	position: relative;

	.anchor-down {
		opacity: 1;
		transition: opacity .5s ease-out;
		transition-delay: 9s;

		&.rate-anim-disabled {
			opacity: 0;
		}
	}

	.main-title {
		margin-bottom: 20px;
		padding-top: 0;
		opacity: 1;
		transition: opacity .5s ease-out, padding-top .7s ease-out;
		transition-delay: .7s, 2s;

		&.rate-anim-disabled {
			opacity: 0;
			padding-top: calc(50vh - 1em - ($h-s + 30px));
		}
	}

	.fb-cont {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.fade-block {
		text-transform: uppercase;
		color: $c-white;
		font-family: $f-r;
		font-size: 30px;
		margin-top: 20px;
		border-radius: 20px;
		padding: 1.5em 2em;
		border: 1px solid $c-border;
		display: inline-flex;

		@media (max-width: $media-xxl) {
			font-size: 24px;
		}

		@media (max-width: $media-xl) {
			font-size: 20px;
			padding: 1.3em 1.75em;
		}

		&.fb-blue {
			transition: opacity .5s ease-out, background-color .5s ease-out, border .5s ease-out, color .5s ease-out;
			transition-delay: 3.5s, 5s, 5s, 5s;

			&.rate-anim-disabled {
				opacity: 0;
				background-color: $c-blue;
				border: 1px solid $c-blue;
				color: $c-white;
			}
		}

		&.fb-green {
			transition: opacity .5s ease-out, background-color .5s ease-out, border .5s ease-out, color .5s ease-out;
			transition-delay: 5s, 6.5s, 6.5s, 6.5s;

			&.rate-anim-disabled {
				opacity: 0;
				background-color: $c-green;
				border: 1px solid $c-green;
				color: $c-black;
			}
		}

		&.fb-pink {
			transition: opacity .5s ease-out, background-color .5s ease-out, border .5s ease-out, color .5s ease-out;
			transition-delay: 6.5s, 8s, 8s, 8s;

			&.rate-anim-disabled {
				opacity: 0;
				background-color: $c-pink;
				border: 1px solid $c-pink;
				color: $c-white;
			}
		}

	}
}


#s9 {
	overflow: hidden;
	padding-top: calc($h-s + 30px);
	position: relative;
	padding-bottom: 100px;

	.main-title {
		margin-bottom: 20px;
		padding-top: 0;
		opacity: 1;
		transition: opacity .5s ease-out, padding-top .7s ease-out;
		transition-delay: .7s, 2s;

		&.rate-anim-disabled {
			opacity: 0;
			padding-top: calc(50vh - 1em - ($h-s + 30px));
		}
	}

	.sites-cont {
		margin-top: 30px;
		opacity: 1;
		transition: opacity .5s ease-out;
		transition-delay: 3.5s;
		position: relative;
		width: 100%;

		&.rate-anim-disabled {
			opacity: 0;
		}
	}

	.sites-cont {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		gap: 20px;

		.load-more {
			text-transform: uppercase;
			color: $c-white;
			font-family: $f-r;
			font-size: 24px;
			border-radius: 20px;
			padding: 1.25em 2em;
			border: 1px solid $c-border;
			display: flex;
			gap: 10px;
			align-items: center;
			cursor: pointer;

			@media (max-width: $media-xxl) {
				font-size: 22px;
			}

			@media (max-width: $media-xl) {
				font-size: 20px;
			}
		}

		.site {
			width: calc((100% - 40px) / 3);
			display: flex;
			flex-direction: column;
			gap: 5px;

			.title {
				font-family: $f-r;
				font-size: 30px;
				text-transform: uppercase;
				color: $c-white;

				@media (max-width: $media-xxl) {
					font-size: 24px;
				}

				@media (max-width: $media-xl) {
					font-size: 20px;
				}
			}

			.site-for {
				font-family: $f-r;
				font-size: 20px;
				text-transform: lowercase;
				color: $c-gray;

				@media (max-width: $media-xxl) {
					font-size: 18px;
				}
			}

			.img-cont {
				width: 100%;
				aspect-ratio: 16 / 9;
				border-radius: 20px;
				overflow: hidden;

				picture {
					width: 100%;
					height: 100%;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}

}

#s10 {
	padding-top: calc($h-s + 30px);
	position: relative;
	cursor: none;

	.main-title {
		position: relative;
		margin-bottom: 20px;
		padding-top: 0;
		opacity: 1;
		z-index: 5;
	}

	.click-text {
		position: relative;
		font-family: $f-r;
		font-size: 24px;
		color: $c-gray;
		z-index: 5;

		@media (max-width: $media-xxl) {
			font-size: 22px;
		}

		@media (max-width: $media-xl) {
			font-size: 20px;
		}
	}

	.lp-sh {
		width: 70%;
		height: 55%;
		background: $c-blue;
		border-radius: 50%;
		position: absolute;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
		filter: blur(150px);
		transition: all .5s ease-out;
		transition-delay: 2s;

		&.rate-anim-disabled {
			background: #2c2c2c;
		}
	}

	.lp-left {
		position: absolute;
		bottom: 0;
		left: 0;
	}

	.lp-center {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}

	.lp-right {
		position: absolute;
		bottom: 0;
		right: 0;
	}

	.lp-main {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}

	.lp-q {
		position: absolute;
		transform: translate(-50%, -50%);
		bottom: 200px;
		left: calc(50% - 30px);
		transition: all .5s ease-out;
		transition-delay: 2s;
		opacity: 0;

		&.rate-anim-disabled {
			opacity: 1;
		}
	}
}